@import "./globals.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include hidden-scroll;

  background-color: #212121;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-geist-sans);
}

.container {
  width: calc(100% - 20px);
  max-width: 1400px;
  margin: 0 auto;
}

.mobile {
  display: inherit;

  @include desktop {
    display: none;
  }
}

.desktop {
  display: none;

  @include desktop {
    display: inherit;
  }
}
