//Responsive
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$large-min-width: 1440px;

// Misc
$header-height: 80px;
$tile-radius: 8px;

// Breakpoints
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
