//Responsive
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$large-min-width: 1440px;

// Misc
$lp-hero-bg-color: #4872fa;

// Breakpoints
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}
