@import "../styles/globals.scss";

$root: engagement-tracking;

.#{$root} {
  // height: 60px;
  // background-color: #2a2a2a;

  &--default {
  }

  &__inner {
    margin-top: 15px;
    width: 100%;
    height: calc(100% - 35px);
    position: relative;
  }
}
