@import "../styles/globals.scss";

$root: tile;

.#{$root} {
  $root: &;

  &--default {
    height: 500px;
    width: 500px;
  }

  border: 1px solid #000;

  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  // margin-bottom: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include desktop {
    padding: 30px;
  }

  &[data-storybook] {
    background-color: red;
    height: 500px;
  }
}
