@import "../styles/globals.scss";

$root: dashboard-page;

.#{$root} {
  $root: &;

  height: calc(100vh);
  display: flex;
  flex-direction: column;

  @include desktop {
    // background-color: rgb(51, 51, 54);
  }

  &__modal-content {
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__container {
    height: calc(100% - $header-height);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__tile {
    $gap: 10px;
    margin-bottom: $gap;
    flex-shrink: 0;

    &:nth-child(even) {
      margin-right: 0;
    }

    @include desktop {
      margin-right: $gap;
      height: calc(50% - $gap);
      flex: calc(50% - $gap);
      margin-bottom: 0;
    }
  }

  &__button {
    margin: 10px;
    padding: 10px;
    align-self: flex-start;
  }

  &__state-bar {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    width: 100%;
    align-self: center;
    margin: 20px;
  }

  &__state-bar-item {
    height: 2px;
    width: 12px;
    border-radius: 5px;
    background-color: #000;
    flex: 1;
    margin-right: 6px;
    position: relative;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background-color: #000;
      transition: width 0.3s ease;
    }

    &--working {
      &::after {
        width: 100%;
        background-color: orange;
      }
    }

    &--success {
      &::after {
        width: 100%;
        background-color: green;
      }
    }
  }

  &__log {
    display: flex;
    flex-direction: column;
  }

  &__log-item {
    height: 140px;
    background-color: #474747;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &__stats {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    overflow-x: scroll;
    flex-shrink: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include desktop {
      overflow-x: hidden;
    }
  }

  &__statistic-card {
    background-color: #434343;
    border-radius: $tile-radius;
    padding: 10px;
    width: 80vw;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }

    @include desktop {
      flex: 1;
    }
  }

  &__statistic-card-label {
    font-size: 16px;
    font-weight: 500;
    color: #f0f0f0;
  }

  &__statistic-card-value {
    font-size: 24px;
    font-weight: 700;
    color: #f0f0f0;
    margin-top: 10px;

    &--pink {
      color: #ff72ce;
    }

    &--yellow {
      color: #dea013;
    }

    &--blue {
      color: #2c9cef;
    }

    &--green {
      color: #93ff94;
    }
  }
}
